.card.card-default
  .card-header
    h3.card-title=t('richlist.balance_top',{top : 100}) 
  table.table.table-hover.table-bordered(cellspacing="0")
    thead
      tr
        th(style='text-align:center;') 
          span.fa.fa-flag-checkered
        th=t('richlist.address')
        th.d-none.d-md-table-cell.d-table-cell=t('richlist.balance_coin',{coin : settings.symbol})
        th.d-xs-table-cell.d-sm-table-cell.d-none(style='text-align:center;')=t('richlist.percent_symbol')
    tbody
      - var count = 0
      each item in balance
        - count = count + 1
        - var itemFixed = item.balance / 100000000
        - var percentage = (itemFixed / stats.supply) * 100
        tr
          td(style='text-align:center;') 
            =count
          td 
            a(href='/address/'+ item.a_id)
              if typeof(item.name) !== "undefined" && item.name !== ""
                =item.name
              else
                =item.a_id
          td.d-none.d-md-table-cell.d-table-cell
            =itemFixed.toFixed(settings.decimal_places)
          td.d-xs-table-cell.d-sm-table-cell.d-none(style='text-align:center;') 
            =percentage.toFixed(2)