extends layout

block content   
  .col-md-12(style="margin-bottom: 4%")
    .row.text-center(style='margin-bottom:15px;')
      i #{settings.locale.net_warning}
    .tabpanel
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
          a(href='#connections', aria-controls='connections', role='tab', data-toggle='tab') #{settings.locale.net_connections}
        li(role='presentation')
          a(href='#addnodes', aria-controls='addnodes', role='tab', data-toggle='tab') #{settings.locale.net_addnodes}
    .tab-content
      #connections.tabpanel.tab-pane.active 
        include ./includes/net_list.pug
      #addnodes.tabpanel.tab-pane
        include ./includes/net_addnodes.pug
