body {
  padding: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav-search input {
	width: 400px !important;
	margin-right: 5px;	
}

.view_tx {
	text-align: center;
}

.block-last-next {
	margin: 0 10px;
	color: #FFF;
}

.block-last-next:hover {
	color: #CCC;
}
.glow, .glow:hover, .glow:focus
{
	text-decoration: none;
	color: #222;
	text-shadow: none;
	-webkit-transition: 300ms linear 0s;
	-moz-transition: 300ms linear 0s;
	-o-transition: 300ms linear 0s;
	transition: 300ms linear 0s;
	outline: 0 none;
}

.glow-inverse, .glow-inverse:hover, .glow-inverse:focus
{
	text-decoration: none;
	color: #fff;
	text-shadow: none;
	-webkit-transition: 300ms linear 0s;
	-moz-transition: 300ms linear 0s;
	-o-transition: 300ms linear 0s;
	transition: 300ms linear 0s;
	outline: 0 none;
}


.glow:hover, .glow:focus, .glow-inverse:hover, .glow-inverse:focus
{
	color: #555;
}

.data {
	display: block;
	overflow: hidden;
	width: 100%;
}

.txid {
	width: 100%;
	display:block;
	overflow: hidden;
}

.btn-iquidus {
	background-color: #222;
	color: #fff;
}

button.btn-iquidus:hover{
	color: #CCC;
}

.label-iquidus {
	background-color: #222;
	color: #fff;	
}

.label a:link {
  color:#fff;
}

.label a:visited {
  color:#fff;
}

.label a:hover {
  color:#CCC;
}

.label a:active {
  color:#fff;
}

.panel-address-summary {
 margin-bottom: 5px;
}

.panel-iquidus {
	border-color:#CCC;
	color:#333;
}

.panel-iquidus .panel-heading, .panel-iquidus .panel-footer {
	background:#222;
	border-color:#CCC;
	color:#fff;
}

/* datatable tweaks */
table {
	width: 100% !important;
}
.dataTables_info, .dataTables_length {
	padding-left: 10px;
}

.dataTables_length {
	padding-top: 10px;
}

.dataTables_paginate {
	padding-right: 5px;
}

.tab-pane {
	margin-top: 5px;
}

tr {
	width: 100%;
}

.footer-padding {
	height: 50px;
	width: 100%;
}

.summary-table {
	margin: 0px !important;
}

#loading-icon {
	width: 30px;
    margin: 10px 10px;
}

.menu-text {
	margin-left:5px;
}

#twitter-icon {
	padding: 0;
	margin: 0;
}

#twitter-icon img{
	width: 40px;
	margin: 5px 5px;
}

#market_menu {
	margin-bottom: 5px;
}

@media(max-width:767px){
	body {
		padding: 0px;
		padding-top:60px;
	}
}

@media(max-width:965px){
	.nav-search input {
	    width: 300px !important;
    }
}

@media(max-width:865px){
	.nav-search input {
	    width: 200px !important;
    }
}